name: Frigate Rockchip Beta (0.13.0)
version: 0.13.0-rc1-rk
panel_icon: "mdi:cctv"
panel_title: Frigate
slug: frigate-rk-beta
description: NVR with realtime local object detection for IP cameras
url: "https://github.com/blakeblackshear/frigate"
image: ghcr.io/blakeblackshear/frigate
startup: application
boot: auto
init: false
webui: "http://[HOST]:[PORT:5000]/"
watchdog: "http://[HOST]:[PORT:5000]/"
ingress: true
ingress_port: 5000
ingress_entry: /
panel_admin: false
homeassistant_api: true
hassio_api: true
devicetree: true
ports:
  8555/tcp: 8555
  8555/udp: 8555
  8554/tcp: null
  5000/tcp: null
  1984/tcp: null
  1935/tcp: null
ports_description:
  8555/tcp: WebRTC over tcp
  8555/udp: WebRTC over udp
  8554/tcp: RTSP Restream
  5000/tcp: Web interface (Not required for Hass.io Ingress)
  1984/tcp: go2rtc API
  1935/tcp: RTMP streams
host_network: false
tmpfs: true
usb: true
video: true
full_access: true
privileged:
  - SYS_ADMIN
environment:
  CONFIG_FILE: /config/frigate.yml
schema:
  plus_api_key: password?
services:
  - "mqtt:want"
arch:
  - aarch64
map:
  - "media:rw"
  - "config:rw"
