name: Frigate NVR Beta (0.11.0)
version: 0.11.0
panel_icon: "mdi:cctv"
panel_title: Frigate
slug: frigate-beta
description: NVR with realtime local object detection for IP cameras
url: "https://github.com/blakeblackshear/frigate"
image: blakeblackshear/frigate
startup: application
boot: auto
webui: "http://[HOST]:[PORT:5000]/"
watchdog: "http://[HOST]:[PORT:5000]/"
ingress: true
ingress_port: 5000
ingress_entry: /
panel_admin: false
ports:
  5000/tcp: null
  1935/tcp: null
ports_description:
  5000/tcp: Web interface (Not required for Hass.io Ingress)
  1935/tcp: RTMP streams
host_network: false
devices:
  - /dev/dri/renderD128
  - /dev/apex_0
  - /dev/apex_1
  - /dev/apex_2
  - /dev/apex_3
  - /dev/dri/card0
  - /dev/vchiq
  - /dev/video10
  - /dev/video0
usb: true
video: true
tmpfs: true
full_access: false
environment:
  CONFIG_FILE: /config/frigate.yml
schema:
  plus_api_key: password?
services:
  - "mqtt:need"
arch:
  - amd64
  - aarch64
  - armv7
map:
  - "media:rw"
  - "config:rw"
