name: Frigate Beta
version: 0.16.0-rc3
breaking_versions:
  - 0.16.0-rc3
  - 0.16.0-rc2
  - 0.16.0-rc1
  - 0.16.0-beta4
  - 0.16.0-beta3
  - 0.16.0-beta2
  - 0.16.0-beta1
  - 0.15.0
  - 0.15.0-rc2
  - 0.15.0-rc1
  - 0.15.0-beta5
  - 0.15.0-beta4
  - 0.15.0-beta3
  - 0.15.0-beta2
  - 0.15.0-beta1
  - 0.14.1
  - 0.14.0
panel_icon: "mdi:cctv"
panel_title: Frigate
slug: frigate-beta
description: NVR with realtime local object detection for IP cameras
url: "https://github.com/blakeblackshear/frigate"
image: ghcr.io/blakeblackshear/frigate
startup: application
boot: auto
init: false
webui: "http://[HOST]:[PORT:5000]/"
watchdog: "http://[HOST]:[PORT:5000]/"
ingress: true
ingress_port: 5000
ingress_entry: /
panel_admin: false
homeassistant_api: true
hassio_api: true
ports:
  8555/tcp: 8555
  8555/udp: 8555
  8554/tcp: null
  8971/tcp: null
  5000/tcp: null
  1984/tcp: null
  1935/tcp: null
ports_description:
  8555/tcp: WebRTC over tcp
  8555/udp: WebRTC over udp
  8554/tcp: RTSP Restream
  8971/tcp: Authenticated Web interface
  5000/tcp: Unauthenticated Web interface (not required for Home Assistant Ingress)
  1984/tcp: go2rtc API
host_network: false
devices:
  - /dev/dri/renderD128
  - /dev/apex_0
  - /dev/apex_1
  - /dev/apex_2
  - /dev/apex_3
  - /dev/dri/card0
  - /dev/vchiq
  - /dev/video10
  - /dev/video0
  - /dev/hailo0
  - /dev/hailo1
usb: true
video: true
tmpfs: true
full_access: false
privileged:
  - PERFMON
schema:
  plus_api_key: password?
services:
  - "mqtt:want"
arch:
  - amd64
  - aarch64
map:
  - "media:rw"
  - "ssl"
  - "addon_config:rw"
  # Mount old config dir to be migrated by the image
  - "homeassistant_config:rw"
