name: Frigate Proxy
version: 1.6
panel_icon: "mdi:cctv"
panel_title: Frigate
slug: frigate-proxy
description: Proxy addon for Frigate
url: "https://github.com/blakeblackshear/frigate"
startup: application
boot: auto
init: false
webui: "http://[HOST]:[PORT:5000]/"
watchdog: "http://[HOST]:[PORT:5000]/"
ingress: true
ingress_port: 5000
ingress_entry: /
panel_admin: false
ports:
  5000/tcp: 5000
ports_description:
  5000/tcp: Web interface (not required for Home Assistant Ingress)
host_network: true
devices: []
usb: false
tmpfs: false
full_access: false
environment: {}
options:
  server: "http://frigate.local:5000"
  proxy_pass_host: true
  proxy_pass_real_ip: true
schema:
  server: "match(^https?://.+:\\d+$)"
  proxy_pass_host: bool
  proxy_pass_real_ip: bool
services: []
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
map: []
