name: Frigate (Full Access)
# TODO: apply these changes after updating to 0.16.0:
# https://github.com/blakeblackshear/frigate-hass-addons/pull/210
version: 0.15.2
breaking_versions:
  - 0.15.1
  - 0.15.0
  - 0.14.1
  - 0.14.0
panel_icon: "mdi:cctv"
panel_title: Frigate
slug: frigate-fa
description: NVR with realtime local object detection for IP cameras
url: "https://github.com/blakeblackshear/frigate"
image: ghcr.io/blakeblackshear/frigate
startup: application
boot: auto
init: false
webui: "http://[HOST]:[PORT:5000]/"
watchdog: "http://[HOST]:[PORT:5000]/"
ingress: true
ingress_port: 5000
ingress_entry: /
panel_admin: false
homeassistant_api: true
hassio_api: true
ports:
  8555/tcp: 8555
  8555/udp: 8555
  8554/tcp: 8554
  8971/tcp: 8971
  5000/tcp: 5000
  1984/tcp: 1984
  1935/tcp: 1935
ports_description:
  8555/tcp: WebRTC over tcp
  8555/udp: WebRTC over udp
  8554/tcp: RTSP Restream
  8971/tcp: Authenticated Web interface
  5000/tcp: Unauthenticated Web interface (not required for Home Assistant Ingress)
  1984/tcp: go2rtc API
host_network: true
tmpfs: true
usb: true
video: true
full_access: true
privileged:
  - PERFMON
environment:
  CONFIG_FILE: /config/frigate.yml
schema:
  plus_api_key: password?
services:
  - "mqtt:want"
arch:
  - amd64
  - aarch64
map:
  - "media:rw"
  - "config:rw"
  - "ssl"
