name: Frigate NVR
version: "3.1"
panel_icon: "mdi:cctv"
panel_title: Frigate
slug: frigate
description: NVR with realtime local object detection for IP cameras
url: "https://github.com/blakeblackshear/frigate"
startup: application
boot: auto
webui: "http://[HOST]:[PORT:5000]/"
watchdog: "http://[HOST]:[PORT:5000]/"
ingress: true
ingress_port: 5000
ingress_entry: /
panel_admin: false
ports:
  5000/tcp: 5000
  1935/tcp: 1935
ports_description:
  5000/tcp: Web interface (Not required for Hass.io Ingress)
  1935/tcp: RTMP streams
host_network: false
devices:
  - /dev/dri/renderD128
  - /dev/apex_0
  - /dev/apex_1
  - /dev/apex_2
  - /dev/dri/card0
  - /dev/vchiq
  - /dev/video10
usb: true
tmpfs: true
full_access: false
environment:
  CONFIG_FILE: /config/frigate.yml
options: {}
schema: {}
services:
  - "mqtt:need"
arch:
  - amd64
  - armv7
  - aarch64
map:
  - "media:rw"
  - "config:rw"
